%h3 MongoDB Sales Tool - Admin

- if @projects.any?
  %table.table.table-bordered.mt-3
    %thead
      %tr
        %th Project
        %th{ colspan: 3 } Actions
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.title
          %td= link_to 'Edit', edit_admin_project_path(project)
          %td= link_to 'Duplicate', duplicate_admin_project_path(project), method: :post
          %td= link_to 'Delete', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure you want to delete this project? This cannot be undone.' }
- else
  %p No projects have been added.

= link_to 'New Project', new_admin_project_path, class: 'btn btn-default'

%hr

= link_to 'ActiveAdmin', active_admin_root_path
